{{#each targetService.items as |item|}}
    <div {{action "select" item}}>
        {{item.name}}
    </div>
{{/each}}
Lat: {{input value=latitude}}
Long: {{input value=longitude}}
Name: {{input value=newStation insert-newline="addNewStation" on="key-press"}}
